<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>OAuth</title>
    <style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        color: #000;
    }
    nav{
        background: #ff5353;
        padding: 20px 10px;
    }
    nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }
    nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    main,header{
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
    }
    * {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 180px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
    </style>
    </head>
<body>
    <nav>
            <% if (user) { %>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
    </nav>
    <header>
        <h1>Welcome , <%= user.username %></h1>
    </header>
    <main>
        <img src="<%= user.thumbnail %>" alt="chidhori">
    </main>
    <h1>Slot Machine App</h1>

    <button onClick="start()">Start</button>

    <h1>Results</h1>

    <img id="output1" height="100" width="100" />
    <img id="output2" height="100" width="100" />
    <img id="output3" height="100" width="100" />


    <!-- <div class="container">
            <form action="/profile" method="POST">
              <div class="row">
                <div class="col-25">
                  <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                  <input type="text"  name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                  <input type="text" name="lastname" placeholder="Your last name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="subject">Email</label>
                </div>
                <div class="col-75">
                  <input type="email" name="email" placeholder="email">
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div> -->
          <script src="./app.js"></script>
</body>
</html>